<main>
  <nav class="navbar navbar-expand-lg">
    <div class="navbar-brand">
      <img id="logo" src="../../assets/logo_cover.png" width="200px" height="100px" class="d-inline-block align-top"
        alt="">
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <span class="nav-link text-white">Home</span>
        </li>
        <li class="nav-item">
            <span class="nav-link text-white">Home</span>
        </li>
      </ul>
    </div>

  </nav>
</main>
